
<%= form_for (@employee) do |f| %>
<%  if(@employee.errors.any? == true) %>
<div id = "Error Explanation">
<h2><%= pluralize(@employee.errors.count, "error") %> Employee can't be registered</h2>
<ul><% @employee.errors.full_messages.each do |msg| %>
   <li><%= msg %></li>
   <% end %>
</ul>
</div>
<% end %>
  <h1>Sign-up Page </h1>
  <table>
    <tr>
      <td><%= f.label :fname,'First Name' %></td>
      <td><%= f.text_field :fname %></td>
    </tr>
    <tr>
      <td><%= f.label :lname, 'Last Name' %></td>
      <td><%= f.text_field :lname %></td>
    </tr>
    <tr>
      <td><%= f.label :phoneno, 'Phone no' %></td>
      <td><%= f.text_field :phoneno %></td>
    </tr>
    <tr>
      <td><%= f.label :email,'Email' %></td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td><%= f.label :Password, 'Password' %></td>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td><%= f.label :password_confirmation, 'Confirm Password' %></td>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
  </table>
  <%= f.submit 'Submit' %>
<% end %>
<%= link_to 'Sign In', '/sessions/new' %>
