<!DOCTYPE html>
<html>
	<head>
	  <title>BerylAttendance</title>
	  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	  <%= stylesheet_link_tag    'application', media: 'all'%>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>
	  <script src="assets/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
	</head>
	<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
        <%= render 'shared/header' %>
		<%= yield %>
	    <%= render 'shared/footer' %>

	</body>
</html>
