<!-- Navigation section
================================================== -->
<section class="navbar navbar-default navbar-fixed-top sticky-navigation" role="navigation">
	<div class="container">

		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<%= link_to "Present Sir!" ,'/', class: "navbar-brand" %>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right main-navigation">
				<li><%= link_to "HOME" ,'/', class: "smoothScroll" %></li>
				<li><%= link_to "ABOUT", employees_index_path(:anchor => "about"), class: "smoothScroll" %></li>
				<li><%= link_to "RULES" , employees_index_path(:anchor => "counter"), class: "smoothScroll" %></li>			
        <% if session[:current_employee].present? %>        
        <li><%= link_to 'Log Out',"/sessions", method: :delete ,class: "smoothScroll" %></li>
        <% end %>
			</ul>
		</div>

	</div>
</section>