
<!-- Contact section
================================================== -->
<section id="contact" class="parallax-section">
  <div class="container">
    <div class="row">
      <!-- Contact form section
      ================================================== -->
      <div class="email_error"></div>
      <div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay="0.6s">
  <%= form_for @employee, url: sessions_create_path, :remote => true, html: {id: "new_session", :authenticity_token => true } do |f| %>

          <div class="col-md-12 col-sm-12">
            <%= f.text_field :email, class: "form-control", placeholder: "Email"%>
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          </div>
          <div class="col-md-6 col-sm-6">
            <%= f.submit 'Sign In',class: "form-control" %>
          </div>
        <% end %>
      </div>
      <!-- Contact detail section
      ================================================== -->
      <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.9s">
        <div class="contact-detail">
          <h2>Profile Pic</h2>
            <div>
              <%= image_tag 'blog-img-1.jpg', class: "img-responsive", alt: "about img 1" %> 
            </div>
            <div>
             <input type="file">
            </div>
        </div>
      </div>

    </div>
  </div>
</section>
